// Find profession
.site-findprof {
    background-color: $color-primary;
    color: $color-white;
}
.site-findprof__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 150px 0px;
    padding: 80px 10px;
}
.site-findprof__content h2 {
    font-size: 25px;
    line-height: 40px;
    font-weight: 600;
}
.site-findprof__content p {
    font-size: 15px;
    line-height: 30px;
    margin: 10px 0px 30px 0px;
}
.site-findprof__form-form {
    display: flex;
    
}
.site-findprof__form-form input {
    padding: 15px 150px 15px 20px;
    outline: none;
}
.site-findprof__form-form button {
    padding: 10px 18px;
    background-color: $color-white;
    border: none;
}
.site-findprof__form-form button i {
    color: $color-primary-alt;
    font-weight: bold;
    font-size: 20px;
}